.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--color-white);
}

.cardWrapper {
  margin-top: 18px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}
.songTypeWrapper {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
  width: 30%;
  color: var(--color-white);
  margin-bottom: 23px;
  margin-top: 15px;
}
h3 {
  color: var(--color-white);
}
